.container{
    margin-top: 100px;
  }
  a:link {
      text-decoration: none;
      color: aliceblue;
    }
    a:visited {
      color: white;
    }

.submit_btn{
    margin-top: 18px;
}